#grid-container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	grid-gap: 5px;
	background-color: #c15599;
}

#grid-container > div {
	background-color: #c15599;
	border: 2px solid #a13377;
}